@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import './_mediaQueries.scss';
@import './_colors.scss';
@import './_animations.scss';

@import './buttons.scss';
@import './textinput.scss';

@import './roomitems.scss';
@import './frienditems.scss';

body {
	font-family: 'Lato', sans-serif;
	background: white;
	color: var(--body-color);
}

h1 {
	font-size: 34px;
}

h2 {
	font-size: 26px;

	i {
		margin-right: 12px;
	}
}

h3 {
	font-size: 20px;
}

a {
	color: var(--primary-color);
}

.navigation {
	&__logo {
		line-height: 48px;
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
		color: var(--primary-color);

		img {
			height: 48px;
			vertical-align: middle;
		}
	}
}