.friend-items {
	@media screen and (min-width: $width-sm) {
		min-height: 200px;
	}
	margin-bottom: 32px;

	&-add {
		margin-bottom: 32px;
	}
}

.friend-item {
	animation: fadeIn 0.5s;
	font-size: 16px;
	line-height: 24px;
	height: 24px;
	margin-bottom: 16px;

	&__username {
		margin-left: 12px;
	}

	&__status {
		margin-left: 16px;
	}

	&__buttons {
		float: right;
	}

	& > i {
		font-size: 24px;
    	vertical-align: bottom;
	}
}