.room-items {
	@media screen and (min-width: $width-sm) {
		min-height: 200px;
	}
	margin-bottom: 32px;

	&-add {
		margin-bottom: 32px;
	}
}

.room-item {
	position: relative;
	display: block;
	width: 100%;
	padding: 16px;
	border: 1px solid var(--body-color);
	border-radius: 10px;
	margin-bottom: 16px;

	h3 {
		margin: 0;
		padding: 0;
	}

	&__buttons {
		top: 8px;
		right: 8px;
		position: absolute;
		font-size: 24px;
		color: var(--secondary-color);

		.confirmation-buttons {
			float: right;
		}

		a {
			float: right;
			width: 36px;
			height: 36px;
			line-height: 36px;
			text-align: center;
			background-color: white;
			color: var(--secondary-color);
		}
	}
}